.navBtn{
    color: "white";
    background-color: "black"; 
    border-color:"#FEDC00";
    border-top: "0";
    border-left: "0";
    border-right: "0";
    border-bottom: "3px solid";
}

.navBtnFocus{
    color: "white";
    background-color: "black"; 
    border-color:"#FEDC00";
    border-bottom: "0";
}