.input {
    margin: 0.5rem 0 0 0;
    padding: 0.5rem 0 0.5rem 0;
    color:black;
    border-radius: 3px;
  }
  
.butterYellow{
  background-color:  #FEDC00;
}

.btnHover:hover{
background-color: black;
color: #FEDC00;
transition: 1s ease-out;
}
.contents{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 5px;
}
.signupLabel{
  color: white;
}