.Row:hover {
    background: rgba(0, 0, 0, 0.075);
}

.word {
    word-break: keep-all;
}

@media screen and (max-width: 767px) {
    .tableForm {
        border-top: 2px solid;

        & .dNone {
            display: none;
            border: 0;
        }

        & .Row {
            border-bottom: 2px solid;

            & .data::before {
                content: attr(data-label);
                font-weight: bold;
            }
        }
    }
};