@media screen and (max-width: 767px) {
    .box {
        margin-bottom: 100px;

        & .navbar {
            position: fixed;
            bottom: 0;
            left: 0px;
            width: 100%;
            justify-content: center;
            background-color: #fff;
            padding-top: 5px;
            box-shadow: 0 -5px 3px 0 #FEDC00;
            z-index: 10;
        }
    }

    .tableForm {
        border-top: 2px solid;

        & .dNone {
            display: none;
            border: 0;
        }

        & .Row {
            border-bottom: 2px solid;
        }

        & .type {
            font-size: 1.2rem;
            background-color: #000;
            color: #fff;
        }

        & .borderTop {
            border-top: 1px solid;
        }

        & .moreData::after {
            content: attr(data-label);
            margin-left: 1em;
        }
    }
}

@media screen and (min-width: 992px) {
    .borderLg {
        border: 0 !important;
    }
}

.selectInput {
    & option[disabled] {
        color: #000;
    }
}

.word {
    word-break: keep-all;
}

.shadowNone {
    &:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
        border-color: #000;
    }
}

.cursor {
    cursor: pointer;
}

.textarea {
    resize: none;
}

.customBtn {
    &:hover {
        border-color: #FEDC00;
        background-color: #FEDC00;
        color: #000;
    }
}