.intoSignupPage{
  font-size: 10px;
  text-decoration: none;
  color: white;
}
.intoSignupPage:hover {
    text-decoration: none;
    color:  #FEDC00; 
}
.input {
  margin: 0.5rem 0 0 0;
  padding: 0.5rem 0 0.5rem 0;
  color:white;
  border-radius: 3px;
}

.fontSize{
  font-size: 16px;
}

.fontSizeTwo{
  font-size: 10px;
}