.title{
  display: flex;
  justify-content: center;
  color: #FEDC00;
  font-size: 1.7rem;
  margin: 2rem 0;
}

.intoSignupPage{
  font-size: 13px;
  text-decoration: none;
  color: white;
}
.intoSignupPage:hover {
    text-decoration: none;
    color:  #FEDC00;
}
.input {
  margin: 0.5rem 0 0 0;
  padding: 0.5rem 0 0.5rem 0;
  color:black;
  border-radius: 3px;
}

input[type=password]{
  font-family: 'Courier New', Courier, monospace;
}

input::placeholder{
  font-family: 'HangeulNuriB'
}

.fontSize{
  font-size: 16px;
}

.fontSizeTwo{
  font-size: 11px;
}

.butterYellowAndBtn{
  background-color:  #FEDC00;
  border: 1px solid black;
}

.btnHover:hover{
background-color: black;
color: #FEDC00;
transition: ease-out;
border: 1px solid white ;
}