.icon {
    cursor: pointer;
}

.searchWhite {
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    color: #fff;
    margin-bottom: 5px;

    &:focus {
        background: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-color: #fff;
        color: #fff;
    }
}

.search {
    border: none;
    border-bottom: 2px solid #000;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    
    &:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
        border-color: #000;
    }
}