.title{
  display: flex;
  justify-content: center;
  color: #FEDC00;
  font-size: 3rem;
  margin: 2rem 0;
}
img{
width: 40%;
}

.confirm{
  color: black;
  padding-right: 8px;
  text-align: center;
  display: flex;
  align-items: center;
}

.input2 {
  width: 9.01rem;
}
.userName{
    color: white;
    font-size: 1.8rem;
  }

.contents{
    display: flex;
    width: 100%;
    justify-content: spa;
    align-items: center;
    padding-top: 5px;
  }

  .signupLabel{
    color: black;
    padding-right: 8px;
    text-align: left;
  }
  .input_file_button{
    padding: 6px 25px;
    background-color:#FF6600;
    border-radius: 4px;
    color: white;
    cursor: pointer;
  }
  .inputContent{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0;
  }
  .box{
    width:12rem;
    margin: 0px auto;
    position: relative;
  }
  .box:hover{
    display: block;
  }
.hoverTxt{
  display: none;
  position:absolute;
  top:5rem;
  left:2.5rem;
  color : #FEDC00;
  font-size: 1.5rem;
}
.box:hover .hoverTxt{
  display: block;
}
.profile{
  width: 12rem;
  height: 12rem;
}
.profile:hover{
    opacity: 0.5;
    }
  .input {
    margin: 0.5rem 0 0 0;
    padding: 0.5rem 0 0.5rem 0;
    border-radius: 3px;
    text-align: center;
  }
  
  input[type=password]{
  font-family: 'Courier New', Courier, monospace;
  }
  
  
  input::placeholder{
    font-family: 'HangeulNuriB'
  }
  
  .inputSize{
    width: 15.3rem;
  }
  
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  
  .butterYellowAndBtn{
    color: black;
  background-color:  #FEDC00;
  border: 1px solid black;
  text-align: center;
  }
  
  .btnHover:hover{
  background-color: black;
  color: #FEDC00;
  transition: ease-out;
  border: 1px solid #FEDC00 ;
  text-align: center;
  }
  
  .passwordConfirmError{
    margin-bottom: 0;
    margin-top: 0.5rem;
    margin-right: 3rem;
    text-align: end;
    font-size: 13px;
    font-weight: bold;
    color: black;
  }

  @media (max-width: 403px) {
  
}