$ButterYellow: #FEDC00;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$custom-colors: (
    "ButterYellow": $ButterYellow
);
    
$theme-colors: map-merge($theme-colors, $custom-colors);

@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-icons/font/bootstrap-icons'; 

@font-face {
    font-family: 'HangeulNuriB';
    src: url("../fonts/HangeulNuriB.ttf") format('truetype')
}

@font-face {
    font-family: 'HangeulNuriR';
    src: url("../fonts/HangeulNuriR.ttf") format('truetype')
}

* {
    font-family: "HangeulNuriB"
}

// .carousel-inner .carousel-item.active,
// .carousel-inner .carousel-item-next,
// .carousel-inner .carousel-item-prev {
//     display: flex;
//     justify-content: center;
// }

@font-face {
  font-family: 'HangeulNuri-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/HangeulNuri-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 767px) {
    // .carousel-inner .carousel-item > div {
    //     display: none;
    // }
    // .carousel-inner .carousel-item > div:first-child {
    //     display: block;
    // }
    .table > :not(caption) > * > * {
        border-bottom-width: 0;
    }
}

// /* medium and up screens */
// @media (min-width: 768px) {
    
//     .carousel-inner .carousel-item-end.active,
//     .carousel-inner .carousel-item-next {
//       transform: translateX(25%);
//     }
    
//     .carousel-inner .carousel-item-start.active, 
//     .carousel-inner .carousel-item-prev {
//       transform: translateX(-25%);
//     }
// }

// .carousel-inner .carousel-item-end,
// .carousel-inner .carousel-item-start { 
//   transform: translateX(0);
// }

.page-item.active .page-link {
    background-color: #FEDC00;
    border-color: #FEDC00;
}

.page-link:hover, .page-link:focus {
    background-color: #fff;
}

#notfound {
    position: relative;
    height: 100vh;
}
  
#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
  
.notfound {
    max-width: 560px;
    width: 100%;
    padding-left: 160px;
    line-height: 1.1;
}
  
.notfound .notfound-404 {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 140px;
    height: 140px;
    background-size: cover;
}
  
.notfound .notfound-404:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(2.4);
        -ms-transform: scale(2.4);
            transform: scale(2.4);
    border-radius: 50%;
    background-color: #f2f5f8;
    z-index: -1;
}
  
.notfound h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 65px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 10px;
    color: #151723;
    text-transform: uppercase;
}
  
.notfound h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 21px;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
    color: #151723;
}
  
.notfound p {
    font-family: 'Nunito', sans-serif;
    color: #999fa5;
    font-weight: 400;
}
  
.notfound a {
    font-family: 'Nunito', sans-serif;
    display: inline-block;
    font-weight: 700;
    border-radius: 40px;
    text-decoration: none;
    color: #388dbc;
}
  
@media screen and (max-width: 767px) {
    .notfound .notfound-404 {
      width: 110px;
      height: 110px;
    }

    .notfound {
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 110px;
    }
}